html {
    height: 100%;
    background-color: #ff6a00;
}

body{
    height: 100%;
    width:100%;
    margin: 0;
    display: table;
}

#timer_container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: #ffd800;
    font-size: 50px;
}

input{
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    background-color:transparent;
    border:none;
    outline:none;
    padding:0;
}

/* Remove spin buttons */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#minutes{
    text-align: right;
}

#seconds{
    text-align:left;
}

button {
    background-color: #ffd800;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    margin: 5px;
}

    button:hover {
        background-color:#00a2ff;
    }

#reset_container{
    display: table-cell;
    vertical-align: middle;
}

#reset_button {
    -webkit-mask-image: url('../images/reset.png');
    float:right;
}

#play_pause_container{
    display: table-cell;
    vertical-align: middle;
}

#play_pause_button {
    -webkit-mask-image: url('../images/play.png');
    float:left;
}
