html {
    background-color: grey;
}

input{
    background-color:transparent;
    cursor:text;
    border:none;
    outline:none;
}

button {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

    button:hover {
        background-color: rgba(110, 244, 12, 0.42);
        box-shadow: 0 0 10px 3px rgba(110, 244, 12, 0.42);
    }

#reset_button {
    background-image: url('../images/reset.png');
}

#play_pause_button {
    background-image: url('../images/play.png');
}
